<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!DOCTYPE html>
  <html lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Be mine!</title>

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="cover.css" rel="stylesheet">


    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Sign Up", signup_path %></li>
                  <li><%= link_to "Sign In", signin_path %></li>
                  <li><%= link_to "Love Notes", user_messages_path(current_user) %></li>
                </ul>
              </nav>
            </div>
          </div>


  <%= yield %>

</body>
</html>
